# Python cache
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Virtual environments
venv/
env/
.env/
.venv/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Streamlit local config
.streamlit/secrets.toml

# Jupyter Notebooks
.ipynb_checkpoints/

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
*.log
